/*Date created: Sep 24, 2021 */
/*Date modified: Sep 24, 2021 */
.top_root_element
{
    height: 1900px;
    max-width: 1600px;
}
.main_background
{
    height: 700px; 
    max-width: 1600px; 
    margin: auto;
    background-image: url("./img_background.jpg");
    background-size: cover;
    color: white;   
}
.container
{
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
}
.portfolio_text
{
    padding-top: 300px;
}
.hub_section_1
{
    height: 200px;
    min-width: 200px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 30px;
}
.card
{
    height: 280px;
    max-width: 200px;
    min-width: 200px;
    box-shadow: rgb(51, 51, 51) 10px 10px 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 250ms ease-in-out 0s;
    margin-right: 30px;
}
.img_stuff
{
    transition: opacity 600ms ease-in-out 0s;
}
.separator_element
{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabbed_menu_container
{
    height: 400px;
    max-width: 1540px;
    padding: 30px;
    background-color: red;
}
.btns
{
    display: flex;
}
.tablink
{
    width: 103.2px;
    padding: 10px;
    border: medium none;
    outline: currentcolor none medium;
    background-color: grey;
    color: white;
    float: left;
}
.tabcontent
{
    display: none;
    padding: 10px;
    width: 290px;
    height: 140px;
    background-color: grey;
}
.flex_stuff
{
    display: flex;
}
.center_stuff
{
    justify-content: center;
    align-items: center;
}
.separator_element_2
{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_support
{
    padding: 100px 40px 0px;
    height: 400px;
    max-width: 1520px;
    margin: auto;
    background-image: url("./img_reach_us.jpg");
    background-size: cover;
    color: grey;
}
.horiz
{
    flex-direction: row;
}
.card_container
{
    height: 300px;
    width: 1600px;
    overflow-x: scroll;
    padding: 20px;
    background-color: red;
}
.default_open
{
    background-color: black;
    color: white;
}